<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="background-main" padding>
  <ion-row class="body-container">
    <ion-col col-3 class="text-intro background-decorate  a3-container-center">
      <div class="name-restaurant">Restaurant Ng. </div>
      <div class="border-end"></div>
      <div class="content-home text-center">
        <h3 class="title">Welcome</h3>
        <p> I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me
          to add your own content and make changes to the font.</p>
      </div>
      <div class="reservations-container ">
        <div class="reservations-title title text-center" padding> reservation</div>
        <div class="reservation-form">
          <div class="reservation ">
            {{date}}
            <ion-icon name="arrow-down"></ion-icon>
          </div>
          <div class="dropdown">
            <div class="day-of-weeks" margin-top>
              <div class="day" *ngFor="let day of dayofweeks">
                {{day}}
              </div>
            </div>
            <div class="day-in-month row">
              <div tappable class="day" (click)="changeNumber(day)" *ngFor="let day of calendar.days" [class.active]="day && day.dayNumber ==numberSelected">
                <span *ngIf="day">{{day.dayNumber}}</span>
                <div class="bg" *ngIf="day && day.dayNumber == numberSelected"></div>
              </div>
            </div>

          </div>

        </div>

        <div class="reservation-form">
          <div class="reservation" *ngIf="!isShowInputTime">
            {{time}}
            <ion-icon name="arrow-down"></ion-icon>
          </div>
          <div class="dropdown">
            <div class="reservations" *ngFor="let time of times" (click)="seclecTime(time)" tappable>
              {{time}}
            </div>
          </div>
        </div>

        <div class="reservation-form">
          <div class="reservation" *ngIf="!isShowInput">
            {{numberPeopleString}}
            <ion-icon name="arrow-down"></ion-icon>
          </div>

          <div class="reservation" *ngIf="isShowInput">
            <ion-input #input type="number" max="35" min="1" (blur)="onBlur($event)" (input)="inPut($event)" placeholder="Maximum 35 people"></ion-input>
          </div>
          <div class="dropdown">
            <div class="reservations " (click)="seclecPeople(4)" tappable>
              2-4 people
            </div>
            <div class="reservations " (click)="seclecPeople(8)" tappable>
              4-8 people
            </div>
            <div class="reservations " (click)="seclecPeople(12)" tappable>
              8-12 people
            </div>
            <div class="reservations " (click)="seclecPeople(0)" tappable>
              Other
            </div>
          </div>
        </div>
        <button class="reservation book-btn text-center" [disabled]="!isFullOption">
          Book now
        </button>
      </div>


      <div class="border-end"></div>
      <div class="time-activity text-center">
        Ng. Restaurant
        <br/> Open everyday from 9am to 11pm

        <div class="media-logo a3-container-center">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-foursquare"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
    </ion-col>
    <ion-col class="main-container ">
      <div class="menu-container a3-container-center">

        <a href="#" class="menu-dropdown">
          Home
          <div class="menu">
            <a href="#">Bar</a>
          </div>
        </a>
        <a href="#" (click)="goToMenu()">Menu</a>
        <a href="#" (click)="goToOrder()">Order online</a>
        <a href="#" (click)="goToTeam()">Team</a>
        <a href="#" (click)="goToContact()">Contact</a>
      </div>
    </ion-col>
  </ion-row>
</ion-content>