page-menu {
.menu-title{
border-top: 1px solid #f5f1f1;
border-bottom: 1px solid #f5f1f1;
font-size: 24px;
text-transform: uppercase;
padding: 14px;
}
.food-container{
    display: flex;
    padding: 14px;
    position: relative;
    align-items: center;
    margin-top: 15px;
}
.picture{
    margin-right: 20px;
}
.picture img{
    max-width: 100px;
    max-height: 100px;
}
.name-component{
    text-transform: capitalize;
    font-weight: inherit;
}
.cost{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}
}
